/*******************************/
/*******************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
/*******************
 Campaign
*******************/
.campaign {
  position: relative;
  height: 250px;
}

.campaign .ct-series-a .ct-area {
  fill-opacity: 0.2;
  fill: url(#gradient);
}

.campaign .ct-series-a .ct-line, .campaign .ct-series-a .ct-point {
  stroke: #4fc3f7;
  stroke-width: 2px;
}

.campaign .ct-series-b .ct-area {
  fill: #00AEEF;
  fill-opacity: 0.1;
}

.campaign .ct-series-b .ct-line, .campaign .ct-series-b .ct-point {
  stroke: #00AEEF;
  stroke-width: 2px;
}

.campaign .ct-series-a .ct-point, .campaign .ct-series-b .ct-point {
  stroke-width: 6px;
}
/*# sourceMappingURL=dashboard1.css.map */