/*******************************/
/*******************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
/*******************
 Campaign
*******************/
.earningsbox .c3-line {
  stroke-width: 2px;
}

.product-sales.c3 line, .product-sales.c3 path {
  stroke: #e9ecef;
}

.product-sales .c3-shape {
  stroke: #fff !important;
  stroke-width: 3px;
}
/*# sourceMappingURL=dashboard5.css.map */