#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin6], 
#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin6], 
#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin6], 
#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin6] {
    background: #FFF;
}

// modify navbar
.sidebar-nav ul {
    margin: 0px 20px;
    .sidebar-item {
        width: auto;
        .active {
            background: #00AEEF;
            border-radius: 5px;
            color: #FFF !important;
            i {
                color: #FFF !important;
            }
        }
    }
}

.mini-sidebar {
    .sidebar-nav ul {
        margin: 0px;
        .sidebar-item {
            .active {
                margin: 0px 5px;
            }
        }
    }
}

.footer {
    span {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #6A737B;
    }
}