#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin6],
#main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin6],
#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin6],
#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin6] {
  background: #FFF;
}

.sidebar-nav ul {
  margin: 0px 20px;
}

.sidebar-nav ul .sidebar-item {
  width: auto;
}

.sidebar-nav ul .sidebar-item .active {
  background: #00AEEF;
  border-radius: 5px;
  color: #FFF !important;
}

.sidebar-nav ul .sidebar-item .active i {
  color: #FFF !important;
}

.mini-sidebar .sidebar-nav ul {
  margin: 0px;
}

.mini-sidebar .sidebar-nav ul .sidebar-item .active {
  margin: 0px 5px;
}

.footer span {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #6A737B;
}
/*# sourceMappingURL=custom.css.map */