/*******************************/
/*******************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
/*******************
 Campaign
*******************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
.campaign {
  position: relative;
  height: 250px;
}

.campaign .ct-series-a .ct-area {
  fill-opacity: 0.2;
  fill: url(#gradient);
}

.campaign .ct-series-a .ct-line, .campaign .ct-series-a .ct-point {
  stroke: #4fc3f7;
  stroke-width: 2px;
}

.campaign .ct-series-b .ct-area {
  fill: #00AEEF;
  fill-opacity: 0.1;
}

.campaign .ct-series-b .ct-line, .campaign .ct-series-b .ct-point {
  stroke: #00AEEF;
  stroke-width: 2px;
}

.campaign .ct-series-a .ct-point, .campaign .ct-series-b .ct-point {
  stroke-width: 6px;
}

/*******************************/
/*******************************/
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
/*******************
 Campaign
*******************/
.earningsbox .c3-line {
  stroke-width: 2px;
}

.product-sales.c3 line, .product-sales.c3 path {
  stroke: #e9ecef;
}

.product-sales .c3-shape {
  stroke: #fff !important;
  stroke-width: 3px;
}

/*******************************/
/*******************************/
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
/*******************
 Campaign
*******************/
.e-campaign .css-bar .data-text {
  margin: 0 auto;
  position: absolute;
  left: 0;
  z-index: 200;
  right: 0;
  top: 70px;
  text-align: center;
}

.e-campaign .css-bar .data-text .success-rate {
  font-size: 60px;
}

.e-campaign .css-bar .data-text .rate-label {
  margin-top: -20px;
}

.e-campaign .c-cost {
  padding: 10px 20px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.e-campaign .c-cost i {
  font-size: 48px;
}

.poll-widget .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.poll-widget .collapsible .collapsible-header,
.poll-widget .collapsible .collapsible-body {
  border-bottom: none;
  padding: 1rem 0;
}

#calendar .fc-toolbar {
  padding: 0px 15px 24px;
}

.jvectormap-zoomout,
.jvectormap-zoomin {
  display: none;
}

@media (max-width: 767px) {
  .e-campaign .c-cost {
    margin: 0 auto;
    width: 100%;
  }
  .e-campaign .stats {
    text-align: center;
  }
}

.css-bar-xlg {
  width: 223px;
  height: 223px;
  font-size: 20px;
}

.css-bar-xlg:after,
.css-bar-xlg > img {
  width: 213px;
  height: 213px;
  margin-left: 5px;
  margin-top: 5px;
  line-height: 30px;
}

/*******************************/
/*******************************/
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
.gredient-info-bg {
  background: -webkit-gradient(linear, left top, right top, from(#41a6f6), to(#425be0));
  background: linear-gradient(to right, #41a6f6 0%, #425be0 100%);
}

.product-sales .c3-shape {
  stroke: transparent !important;
  stroke-width: 3px;
}

/*******************
Earnings
*******************/
.earnings {
  position: relative;
  height: 250px;
}

.earnings .ct-series-a .ct-area {
  fill-opacity: 0.2;
  fill: url(#gradient);
}

.earnings .ct-series-a .ct-line,
.earnings .ct-series-a .ct-point {
  stroke: #2962FF;
  stroke-width: 2px;
}

.earnings .ct-series-b .ct-area {
  fill: #4fc3f7;
  fill-opacity: 0.1;
}

.earnings .ct-series-b .ct-line,
.earnings .ct-series-b .ct-point {
  stroke: #4fc3f7;
  stroke-width: 2px;
}

.earnings .ct-series-a .ct-point,
.earnings .ct-series-b .ct-point {
  stroke-width: 6px;
}

.ct-grid {
  stroke-width: 0.3px;
  stroke-dasharray: 0px;
}

.ct-series-a .ct-bar {
  stroke: #2962FF;
}

@media (max-width: 1023px) {
  .gredient-info-bg .info {
    margin-top: 15px;
  }
}

/*******************************/
/*******************************/
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
.ct-series-a .ct-bar {
  stroke: #2962FF;
}

.ct-series-b .ct-bar {
  stroke: #4fc3f7;
}

@media (max-width: 767px) {
  .ct-bar {
    stroke-width: 10px !important;
  }
}

/*******************************/
/*******************************/
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
.auth-wrapper {
  min-height: 100vh;
  position: relative;
}

.auth-wrapper .auth-box {
  background: #fff;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0;
}

.auth-wrapper .auth-box .logo {
  background: #F7F8F9;
  text-align: center;
  padding: 27px;
  border-radius: 5px;
}

.auth-wrapper .auth-box .auth-box-inner {
  padding: 20px 30px 20px 30px;
}

.auth-wrapper .auth-box.on-sidebar {
  top: 0px;
  right: 0px;
  height: 100%;
  margin: 0px;
  position: absolute;
}

.auth-wrapper #recoverform {
  display: none;
}

.auth-wrapper .auth-sidebar {
  position: fixed;
  height: 100%;
  right: 0px;
  overflow: auto;
  margin: 0px;
  top: 0px;
}

@media (max-width: 767px) {
  .auth-wrapper .auth-sidebar {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 40px 0 60px;
  }
  .auth-wrapper .demo-text {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=pages.css.map */