/*******************************/
/*******************************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
/*Theme Colors*/
/*Topbar Colors*/
/*Sidebar Colors*/
/*Boxed layout width*/
/*Shadow*/
/*transitions*/
/*Dark transparent bg*/
/*******************************/
/*******************************/
/**
 * Table Of Content
 *
 *  1. Color system
 *  2. Options
 *  3. Body
 *  4. Typography
 *  5. Breadcrumbs
 *  6. Cards
 *  7. Dropdowns
 *  8. Buttons
 *  9. Typography
 *  10. Progress bars
 *  11. Tables
 *  12. Forms
 *  14. Component
 */
.auth-wrapper {
  min-height: 100vh;
  position: relative;
}

.auth-wrapper .auth-box {
  background: #fff;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0;
}

.auth-wrapper .auth-box .logo {
  background: #F7F8F9;
  text-align: center;
  padding: 27px;
  border-radius: 5px;
}

.auth-wrapper .auth-box .auth-box-inner {
  padding: 20px 30px 20px 30px;
}

.auth-wrapper .auth-box.on-sidebar {
  top: 0px;
  right: 0px;
  height: 100%;
  margin: 0px;
  position: absolute;
}

.auth-wrapper #recoverform {
  display: none;
}

.auth-wrapper .auth-sidebar {
  position: fixed;
  height: 100%;
  right: 0px;
  overflow: auto;
  margin: 0px;
  top: 0px;
}

@media (max-width: 767px) {
  .auth-wrapper .auth-sidebar {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 40px 0 60px;
  }
  .auth-wrapper .demo-text {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=authentication.css.map */