@import "../../variables";

.auth-wrapper{
    min-height: 100vh;
    position: relative;
    .auth-box{
        background: $white;
        box-shadow: $shadow;
        border-radius: 5px;
        max-width: 400px;
        width: 90%;
        margin: 10% 0;
        .logo{
            background: #F7F8F9;
            text-align: center;
            padding: 27px;
            border-radius: 5px;
        }
        .auth-box-inner {
            padding: 20px 30px 20px 30px;
        }

        &.on-sidebar{
            top:0px;
            right: 0px;
            height: 100%;
            margin: 0px;
            position: absolute;
        }
    }
    
    #recoverform{
        display: none;
    }
    .auth-sidebar{
        position: fixed;
        height: 100%;
        right: 0px;
        overflow: auto;
        margin: 0px;
        top: 0px;
    }
}

@media(max-width:767px) {
    .auth-wrapper{
        .auth-sidebar{
            position: relative;
            max-width: 100%;
            width: 100%;
            margin: 40px 0 60px;
        }
        .demo-text{
            margin-top: 30px;
        }
    }
}